// Colors
$main-color: teal;
$secondary-color: #54a6ff;
$default-color: #ffffff;
$font-color: #000000;
$background-color: #f6f7f9;
$favorites-color: #ed3f3f;
$circle-color: rgba(53, 99, 233, 0.3);
$select-color: #90a3bf;
$p-color: #596780
